<div class="hero-image section">
  <img src="{{ section.settings.image | img_url: 'master' }}">
</div>

{% schema %}
{
  "presets": [
    {
      "name": "Hero Image",
      "category": "Image"
    }
  ],
  "name": "Hero Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
